// Colors
// Primary
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyanBk: rgba(0,255,247,.5);

// Neutral
$veryDarkBlue: hsl(217, 54%, 11%); // main BG
$veryDarkBlue2: hsl(216, 50%, 16%); // card BG
$veryDarkBlue3: hsl(215, 32%, 27%); // line
$white: hsl(0, 0%, 100%);

// Typography
// Body Copy
$fontSize: 18px; // paragraph

// Font
$family: 'Outfit', sans-serif;

// Weights
$thin: 300;
$medium: 400;
$bold: 600;