// colors
//Primary
$orange: hsl(25, 97%, 53%);

//Neutral
$white: #FFFFFF;
$lightGrey: #707781;
$mediumGrey: #203546;
$darkBlue: #1F2630;
$veryDarkBlue: #141519;

//Typography
$family: 'Overpass', sans-serif;